<div class="row">
  <div class="col-md-4">
    <h3><%= @song.audio_file_name %></h3>
    <span class="glyphicon glyphicon-leaf"></span>
    <%= t ".views" %>
    <%= @song.impressionist_count %><br/>
  </div>
  <div class="col-md-8">
    <div class="audio-player">
      <img class="cover" src="img/cover.png" alt="">
      <audio id="audio-player" src="<%= @song.audio.url %>"
        type="audio/mp3" controls="controls"></audio>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-2 large-4 columns">
    <% if user_signed_in? %>
      <%= rating_for @song, "evaluation",
        disable_after_rate: true, imdb_avg: true, target: "#hintDiv",
        targetText: t(".rate_this"), space: true, cancel_place: "right" %>
      <div id="hintDiv"></div>
    <% end %>
  </div>
</div>

<%= render "comments/form" if user_signed_in? %>

<ul>
  <% if @support.comments %>
    <%= comments_tree_for @support.comments %>
  <% end %>
</ul>
