<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <%= render "layouts/rails_default" %>
  </head>
  <% if user_signed_in? && current_user.is_admin? %>
    <body class="hold-transition skin-green sidebar-mini">
      <div class="wrapper">
        <%= render "layouts/admin/header" %>
        <%= render "layouts/admin/sidebar" %>
        <div class="content-wrapper">
          <% flash.each do |message_type, message| %>
            <%= content_tag :div, message, class: "alert alert-#{message_type}" %>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </body>
  <% else %>
    <body class="sticky-header left-side-collapsed"  onload="initMap()">
      <section>
        <div class="left-side sticky-left-side">
          <%= render "layouts/left-sidebar" %>
        </div>
        <div class="main-content">
          <%= render "layouts/header" %>
          <%= yield %>
        </div>
      </section>
    </body>
  <% end %>
</html>
